.Square {
    background-color:#c0c0f0;
    border: 1px #999 solid;
    float: left;
    font-size: 50px;
    font-weight: bold;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 5px;
  }